* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 60%;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, rgba(69, 187, 188, 0.2) 50%);
  color: #048383;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 8px;
  border-radius: 50px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
}

.btn-blue-lagoon {
  background-color: #048383;
}
.btn-blue-lagoon a {
  color: white;
}

header {
  width: 100%;
  height: 50px;
  background-color: #21333E;
}

#header-left {
  display: flex;
  align-items: center;
  float: left;
  width: 50%;
  height: 100%;
  color: #aeb0b0;
}
#header-left i {
  margin-right: 5px;
}

#header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 50%;
  height: 100%;
}
#header-right ul {
  list-style: none;
}
#header-right ul li {
  display: inline-block;
  margin-left: 30px;
}
#header-right ul li a {
  text-decoration: none;
}
#header-right a {
  color: #aeb0b0;
}
#header-right a .fa-phone-alt, #header-right a .fa-envelope {
  margin-right: 5px;
}

#fusions-acquisitions-section {
  width: 100%;
  height: 850px;
  background-image: url("../img/bg-6.jpg");
  background-position: center;
}

#navbar {
  width: 100%;
  height: 80px;
}

#navbar-left {
  display: flex;
  align-items: center;
  float: left;
  width: 30%;
  height: 100%;
}

#navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 70%;
  height: 100%;
}
#navbar-right ul {
  list-style: none;
}
#navbar-right ul li {
  display: inline-block;
  margin-left: 30px;
}
#navbar-right ul li a {
  text-decoration: none;
}
#navbar-right a:not(.text-btn) {
  color: #21333E;
  font-size: 18px;
}

#jumbotron {
  float: right;
  width: 50%;
  height: calc(100% - 80px);
  padding: 150px 0;
}
#jumbotron h4 {
  color: #048383;
}
#jumbotron h1 {
  font-size: 70px;
  color: #21333E;
  font-weight: 700;
}

#inputs-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
#inputs-container input {
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
}
#inputs-container input:focus {
  outline: none;
}

#jumbotron-buttons-container {
  display: flex;
}

.read-more-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #048383;
  margin-left: 20px;
}
.read-more-button a {
  text-decoration: none;
}
.read-more-button a {
  color: #048383;
}
