* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 60%;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, rgba(69, 187, 188, 0.2) 50%);
  color: #048383;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 8px;
  border-radius: 50px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
}

.btn-blue-lagoon {
  background-color: #048383;
}
.btn-blue-lagoon a {
  color: white;
}

header {
  width: 100%;
  height: 50px;
  background-color: #21333E;
}

#header-left {
  display: flex;
  align-items: center;
  float: left;
  width: 50%;
  height: 100%;
  color: #aeb0b0;
}
#header-left i {
  margin-right: 5px;
}

#header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 50%;
  height: 100%;
}
#header-right ul {
  list-style: none;
}
#header-right ul li {
  display: inline-block;
  margin-left: 30px;
}
#header-right ul li a {
  text-decoration: none;
}
#header-right a {
  color: #aeb0b0;
}
#header-right a .fa-phone-alt, #header-right a .fa-envelope {
  margin-right: 5px;
}

#fusions-acquisitions-section {
  width: 100%;
  height: 850px;
  background-image: url("../img/bg-6.jpg");
  background-position: center;
}

#navbar {
  width: 100%;
  height: 80px;
}

#navbar-left {
  display: flex;
  align-items: center;
  float: left;
  width: 30%;
  height: 100%;
}

#navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 70%;
  height: 100%;
}
#navbar-right ul {
  list-style: none;
}
#navbar-right ul li {
  display: inline-block;
  margin-left: 30px;
}
#navbar-right ul li a {
  text-decoration: none;
}
#navbar-right a:not(.text-btn) {
  color: #21333E;
  font-size: 18px;
}

#jumbotron {
  float: right;
  width: 40%;
  padding: 150px 0;
}
#jumbotron h4 {
  color: #048383;
}
#jumbotron h1 {
  font-size: 70px;
  color: #21333E;
  font-weight: 700;
}

#inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
#inputs-container input {
  width: 48.5%;
  height: 40px;
  background-color: rgba(174, 176, 176, 0.3);
  padding: 25px 15px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
#inputs-container input:focus {
  outline: none;
}
#inputs-container input::-moz-placeholder {
  font-size: 18px;
}
#inputs-container input:-ms-input-placeholder {
  font-size: 18px;
}
#inputs-container input::placeholder {
  font-size: 18px;
}
#inputs-container .more-info-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #757575;
  font-weight: 400;
  width: 48.5%;
  height: 40px;
  background-color: rgba(174, 176, 176, 0.3);
  padding: 25px 15px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
#inputs-container .more-info-button:hover {
  cursor: pointer;
}

#jumbotron-buttons-container {
  display: flex;
}

.read-more-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #048383;
  margin-left: 20px;
}
.read-more-button a {
  text-decoration: none;
}
.read-more-button a {
  color: #048383;
}

#about-the-network-section {
  width: 100%;
  background-color: #121117;
  padding: 150px 0;
}

#about-the-network-left {
  float: left;
  width: 50%;
  height: 100%;
  padding-right: 100px;
}
#about-the-network-left h4 {
  color: #22918e;
}
#about-the-network-left h2 {
  font-size: 50px;
  margin: 20px 0;
  color: white;
}
#about-the-network-left h2 span {
  background-color: #012a2a;
  padding: 0 15px;
  border-radius: 5px;
}
#about-the-network-left p {
  color: #aeb0b0;
  margin: 20px 0;
}

#about-the-network-right {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 50%;
  height: 100%;
  padding: 20px 10px;
}
#about-the-network-right div {
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
}
#about-the-network-right div h2 {
  margin-bottom: 20px;
  color: white;
}
#about-the-network-right div h2 i {
  color: #22918e;
  margin-right: 5px;
}
#about-the-network-right div p {
  color: #aeb0b0;
}

#business-areas-section {
  width: 100%;
  background-color: #e8ecea;
  padding: 100px 0;
}
#business-areas-section h4 {
  color: #22918e;
}
#business-areas-section #ecxellence-services-title {
  font-size: 50px;
  margin: 20px 0;
  color: #21333E;
}
#business-areas-section #ecxellence-services-title span {
  background-color: #c8dce0;
  color: #048383;
  padding: 0 15px;
  border-radius: 5px;
}
#business-areas-section p {
  color: #446a81;
  margin-bottom: 20px;
}

#business-areas-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#business-areas-top p {
  width: 70%;
}

#business-areas-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
#business-areas-bottom .business-areas-bottom-container {
  width: calc(100% / 3 - 20px);
  height: 250px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#business-areas-bottom .business-areas-bottom-container h2 {
  margin-bottom: 20px;
  color: #21333E;
}
#business-areas-bottom .business-areas-bottom-container p {
  font-size: 16px;
  color: #446a81;
}

.business-areas-icons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.business-areas-icons-container i:first-child {
  font-size: 38px;
  color: #048383;
}
.business-areas-icons-container i:nth-child(2) {
  font-size: 22px;
  color: #c8dce0;
}

#financial-advisory-container, #legal-consulting-container {
  margin: 0 30px;
}

#process-management-section {
  width: 100%;
  background-color: white;
  padding: 150px 0;
}
#process-management-section .container {
  text-align: center;
  padding: 0 200px;
}
#process-management-section .container h4 {
  color: #22918e;
}
#process-management-section .container h2 {
  font-size: 50px;
  margin: 20px 0;
  color: #21333E;
}
#process-management-section .container h2 span {
  background-color: #c8dce0;
  color: #048383;
  padding: 0 15px;
  border-radius: 5px;
}
#process-management-section .container p {
  color: #446a81;
}

#process-management-section-bottom {
  display: flex;
  justify-content: center;
  border-top: 5px solid #c8dce0;
  margin-top: 100px;
}

.process-management-containers {
  position: relative;
  width: 250px;
  text-align: center;
  padding-top: 50px;
  margin-right: 70px;
}
.process-management-containers h2 {
  color: #21333E;
  margin-bottom: 20px;
}
.process-management-containers p {
  color: #446a81;
}

.process-management-containers:last-child {
  margin-right: 0;
}

.process-management-numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14%;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  background-color: #c8dce0;
  color: #048383;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
}

#team-experts-section {
  width: 100%;
  background-color: #121117;
  padding: 140px 0;
}
#team-experts-section .container > h4 {
  color: #22918e;
}

#team-experts-section-left {
  float: left;
  width: 70%;
  padding-right: 50px;
}
#team-experts-section-left #team-experts-title {
  font-size: 50px;
  margin: 20px 0;
  color: white;
}
#team-experts-section-left #team-experts-title span {
  background-color: #012a2a;
  padding: 0 15px;
  border-radius: 5px;
}
#team-experts-section-left p {
  color: #aeb0b0;
}

#team-experts-section-left-bottom {
  display: flex;
  flex-wrap: wrap;
}
#team-experts-section-left-bottom .teams-container {
  width: 50%;
  height: 50%;
  padding-top: 50px;
}
#team-experts-section-left-bottom .teams-container img {
  float: left;
  width: 110px;
  border-radius: 5px;
  margin-right: 30px;
}
#team-experts-section-left-bottom .teams-container h2 {
  color: white;
}
#team-experts-section-left-bottom .teams-container h4 {
  font-size: 14px;
  color: #aeb0b0;
  margin-top: 10px;
  margin-bottom: 20px;
}
#team-experts-section-left-bottom .teams-container ul {
  display: flex;
  list-style: none;
}
#team-experts-section-left-bottom .teams-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #012a2a;
  border-radius: 50%;
  margin-right: 5px;
}
#team-experts-section-left-bottom .teams-container ul li a {
  color: #22918e;
}

#team-experts-section-right {
  float: left;
  width: 30%;
  background-color: #22918e;
  padding: 30px 30px 40px 30px;
  margin-top: 40px;
  border-radius: 5px;
}
#team-experts-section-right h2 {
  color: white;
  margin-bottom: 20px;
}
#team-experts-section-right p {
  margin-bottom: 20px;
  color: #aeb0b0;
}

#team-experts-section-right-bottom {
  display: flex;
  justify-content: space-between;
}
#team-experts-section-right-bottom h4 {
  color: white;
}
#team-experts-section-right-bottom i {
  font-size: 24px;
  color: #035b5b;
}
