* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 60%;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background: linear-gradient(-90deg, rgba(0,0,0,0) 50%, $logoContColor 50%);
  color: $blueButtonsColor;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  border-radius: 50px;
  span {
    padding-left: 10px;
  }
}

.btn {
  @include btn-params;
}

.btn-blue-lagoon {
  background-color: $blueButtonsColor;
  a {
    color: white;
  }
}
