// sezione 1 del main
#fusions-acquisitions-section {
  width: 100%;
  height: 850px;
  background-image: url('../img/bg-6.jpg');
  background-position: center;
}

#navbar {
  width: 100%;
  height: 80px;
}

#navbar-left {
  display: flex;
  align-items: center;
  float: left;
  width: 30%;
  height: 100%;
}

#navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 70%;
  height: 100%;
  @include inline-list;
  a:not(.text-btn) {
    color: $titlesTextColor;
    font-size: 18px;
  }
}

#jumbotron {
  float: right;
  width: 40%;
  padding: 150px 0;
  h4 {
    color: $blueButtonsColor;
  }
  h1 {
    font-size: 70px;
    color: $titlesTextColor;
    font-weight: 700;
  }
}

#inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  @include inputs-params;
  .more-info-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    @include input-dimensions;
    &:hover {
      cursor: pointer;
    }
  }
}

#jumbotron-buttons-container {
  display: flex;
}

.read-more-button {
  @include btn-params;
  border: 1px solid $blueButtonsColor;
  margin-left: 20px;
  a {
    color: $blueButtonsColor;
  }
}

// sezione 2 del main
#about-the-network-section {
  width: 100%;
  background-color: $darkSectionsBackgroundColor;
  padding: 150px 0;
}

#about-the-network-left {
  float: left;
  width: 50%;
  height: 100%;
  padding-right: 100px;
  h4 {
    color: $introSectionTextColor;
  }
  h2 {
    @include titles-params;
    color: $darkSectionTitlesColor;
    @include dark-span-titles;
  }
  p {
    color: $smallTextColor;
    margin: 20px 0;
  }
}

#about-the-network-right {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 50%;
  height: 100%;
  padding: 20px 10px;
  div {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 20px;
      color: $darkSectionTitlesColor;
      i {
        color: $introSectionTextColor;
        margin-right: 5px;
      }
    }
    p {
      color: $smallTextColor;
    }
  }
}
// sezione 3 del main
#business-areas-section {
  width: 100%;
  background-color: $excellenceinServicesBackground;
  padding: 100px 0;
  h4 {
    color: $introSectionTextColor;
  }
  #ecxellence-services-title {
    @include titles-params;
    color: $titlesTextColor;
    @include light-span-titles;
  }
  p {
    color: $lightSectionTextParagraphColor;
    margin-bottom: 20px;
  }
}

#business-areas-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    width: 70%;
  }
}

#business-areas-bottom {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  .business-areas-bottom-container {
    width: calc(100% / 3 - 20px);
    height: 250px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    h2 {
      margin-bottom: 20px;
      color: $titlesTextColor;
    }
    p {
      font-size: 16px;
      color: lighten($titlesTextColor, 20%);
    }
  }
}

.business-areas-icons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  i:first-child {
    font-size: 38px;
    color: $blueButtonsColor;
  }
  i:nth-child(2) {
    font-size: 22px;
    color: $lightSectionSpanColorTitle;
  }
}

#financial-advisory-container, #legal-consulting-container {
  margin: 0 30px;
}

// sezione 4 del main
#process-management-section {
  width: 100%;
  background-color: $processManagementBackground;
  padding: 150px 0;
  .container {
    text-align: center;
    padding: 0 200px;
    h4 {
      color: $introSectionTextColor;
    }
    h2 {
      @include titles-params;
      @include light-span-titles;
      color: $titlesTextColor;
    }
    p {
      color: $lightSectionTextParagraphColor;
    }
  }
}

#process-management-section-bottom {
  display: flex;
  justify-content: center;
  border-top: 5px solid $lightSectionSpanColorTitle;
  margin-top: 100px;
}

.process-management-containers {
  position: relative;
  width: 250px;
  text-align: center;
  padding-top: 50px;
  margin-right: 70px;
  h2 {
    color: $titlesTextColor;
    margin-bottom: 20px;
  }
  p {
    color: $lightSectionTextParagraphColor;
  }
}

.process-management-containers:last-child {
  margin-right: 0;
}

.process-management-numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14%;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  background-color: $lightSectionSpanColorTitle;
  color: $blueButtonsColor;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
}

// sezione 5 del main
#team-experts-section {
  width: 100%;
  // height: 700px;
  background-color: $darkSectionsBackgroundColor;
  padding: 140px 0;
  .container > h4 {
    color: $introSectionTextColor;
  }
}

#team-experts-section-left {
  float: left;
  width: 70%;
  padding-right: 50px;
  #team-experts-title {
    @include titles-params;
    @include dark-span-titles;
    color: $darkSectionTitlesColor;
  }
  p {
    color: $smallTextColor;
  }
}

#team-experts-section-left-bottom {
  display: flex;
  flex-wrap: wrap;
  .teams-container {
    width: 50%;
    height: 50%;
    padding-top: 50px;
    img {
      float: left;
      width: 110px;
      border-radius: 5px;
      margin-right: 30px;
    }
    h2 {
      color: $darkSectionTitlesColor;
    }
    h4 {
      font-size: 14px;
      color: $smallTextColor;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $darkSectionBackgroundTitleColor;
        border-radius: 50%;
        margin-right: 5px;
        a {
          color: $introSectionTextColor;
        }
      }
    }
  }
}

#team-experts-section-right {
  float: left;
  width: 30%;
  background-color: $introSectionTextColor;
  padding: 30px 30px 40px 30px;
  margin-top: 40px;
  border-radius: 5px;
  h2 {
    color: $darkSectionTitlesColor;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
    color: $smallTextColor;
  }
}

#team-experts-section-right-bottom {
  display: flex;
  justify-content: space-between;
  h4 {
    color: $darkSectionTitlesColor;
  }
  i {
    font-size: 24px;
    color: lighten($darkSectionBackgroundTitleColor, 10%);
  }
}

// sezione 6 del main
