// sezione 1 del main
#fusions-acquisitions-section {
  width: 100%;
  height: 850px;
  background-image: url('../img/bg-6.jpg');
  background-position: center;
}

#navbar {
  width: 100%;
  height: 80px;
}

#navbar-left {
  display: flex;
  align-items: center;
  float: left;
  width: 30%;
  height: 100%;
}

#navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
  width: 70%;
  height: 100%;
  @include inline-list;
  a:not(.text-btn) {
    color: $titlesTextColor;
    font-size: 18px;
  }
}

#jumbotron {
  float: right;
  width: 40%;
  height: calc(100% - 80px);
  padding: 150px 0;
  h4 {
    color: $blueButtonsColor;
  }
  h1 {
    font-size: 70px;
    color: $titlesTextColor;
    font-weight: 700;
  }
}

#inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  @include inputs-params;
  .more-info-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    @include input-dimensions;
    &:hover {
      cursor: pointer;
    }
  }
}

#jumbotron-buttons-container {
  display: flex;
}

.read-more-button {
  @include btn-params;
  border: 1px solid $blueButtonsColor;
  margin-left: 20px;
  a {
    color: $blueButtonsColor;
  }
}

// sezione 2 del main
#about-the-network {
  width: 100%;
  height: 600px;
  background-color: $darkSectionsBackgroundColor;
  padding: 150px 0;
}

#about-the-network-left {
  float: left;
  width: 50%;
  height: 100%;
  padding-right: 100px;
  h4 {
    color: $introSectionTextColor;
  }
  h2 {
    font-size: 50px;
    color: $darkSectionTitlesColor;
    margin: 20px 0;
    span {
      background-color: $darkSectionBackgroundTitleColor;
      padding: 0 15px;
      border-radius: 5px;
    }
  }
  p {
    color: $smallTextColor;
    margin: 20px 0;
  }
}

#about-the-network-right {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 50%;
  height: 100%;
  padding: 20px 10px;
  div {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 20px;
      color: $darkSectionTitlesColor;
      i {
        color: $introSectionTextColor;
        margin-right: 5px;
      }
    }
    p {
      color: $smallTextColor;
    }
  }
}
// sezione 3 del main
#business-areas {
  width: 100%;
  height: 1000px;
  background-color: $excellenceinServicesBackground;
  padding: 100px 0;
}

#description-button-services-container {
  display: flex;
  justify-content: space-between;
  p {
    width: 70%;
  }
}
