@mixin inline-list {
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 30px;
      a {
        text-decoration: none;
      }
    }
  }
}

@mixin btn-params {
  padding: 10px 20px;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
}

@mixin input-dimensions {
  height: 40px;
  background-color: $inputBackgroundColor;
  padding: 25px 15px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}

@mixin inputs-params {
  input {
    @include input-dimensions;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 18px;
    }
  }
}

@mixin titles-params {
  font-size: 50px;
  margin: 20px 0;
}

@mixin dark-span-titles {
  span {
    background-color: $darkSectionBackgroundTitleColor;
    padding: 0 15px;
    border-radius: 5px;
  }
}

@mixin light-span-titles {
  span {
    background-color: $lightSectionSpanColorTitle;
    color: $blueButtonsColor;
    padding: 0 15px;
    border-radius: 5px;
  }
}

@mixin list-footer-params {
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: $smallTextColor;
      }
    }
  }
}
