// $titlesTextColor: #1c2224;

$titlesTextColor: #21333E;

$smallTextColor: #aeb0b0;

$logoContColor: rgba(69,187,188,0.2);

$blueButtonsColor: #048383;

$introSectionTextColor: #96fefe;

$inputBackgroundColor: rgba(174, 176, 176, 0.3);
